<h3 class="article-title" ng-if="article.article.actualPath != 'null'"><a ng-href="{{article.article.actualPath}}" target="_blank">{{article.article.title}}</a></h3>
<h3 class="article-title" ng-if="article.article.actualPath == 'null'">{{article.article.title}}</h3>
	<div class="article-img-wrap">
    <!--<button class="btn-save text-danger" ng-click="article.saveArticle(article.article)" ng-hide="article.display == 'manage'">-->
      <!--<i ng-class="article.article.saved ? 'fa fa-heart bounceIn' : 'fa fa-heart-o'"  class="animated" aria-hidden="true"></i>-->
    <!--</button>-->

    <!--<button class="btn-share text-danger" ng-click="article.shareArticle(article.article)" ng-hide="article.display == 'manage'">-->
      <!--<i class="fa fa-share-alt" aria-hidden="true"></i>-->
    <!--</button>-->

    <img ng-src="{{article.imagePath + article.article.path}}"/>

		<table class="table table-striped article-table">
      <tr ng-repeat="data in article.article.tableData">
        <td class="text-left"><strong>{{data.name}}</strong></td>
        <td class="text-left">{{data.value}}</td>
      </tr>
    </table>
	</div>

	<div class="article-category mt-20">
		<span class="cat-{{article.article.category}} font-white inline-block ph-10 brad-2 cursor-pointer" ui-sref="app.main_listing({category : article.article.category})">
			{{article.article.category}}
		</span>
	</div>

	<p class="article-content mv-20">
		{{article.article.content}}
	</p>
	<div class="separator"></div>
	<div class="post-meta-desc mt-20">
		<a href="#">
			{{article.article.dateOfCreation | date: 'MMMM dd, yyyy'}}
		</a>
    <div ng-if="article.display == 'manage'">
      <button class="btn btn-success" ng-if="!article.article.status" ng-click="article.activateArticle(article.article)">Activate</button>
      <button class="btn btn-danger" ng-if="article.article.status" ng-click="article.deleteArticle(article.article)">Delete</button>
    </div>

    <div ng-hide="article.display == 'manage'">
      <a href="javascript:void(0)" ng-click="article.saveArticle(article.article)"><span ng-if="!article.article.saved">Save</span> <span ng-if="article.article.saved">Saved</span></a>
      <a href="javascript:void(0)" class="ml-20" ng-click="article.shareArticle(article.article)">Share</a>
    </div>
	</div>
