.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  ul{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -50px;
    font-size: 16px !important;
    li{
      list-style: none;

    }
  }

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    //font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }

  hr {
    background: #5e5e5e;
    margin: 0px 10px;
  }

  .search-icon{
    position: absolute;
    top: 6px;
    right: 20px;
    cursor: pointer;
    color: #A9A9A9;
  }
}

/* The navigation menu links */

/* When you mouse over the navigation links, change their color */

.offcanvas a:focus {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  //font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
  transition: margin-left .5s;
  /*padding: 20px;*/
  overflow: hidden;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    a {
      font-size: 18px;
    }
  }
}
