<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Signin</h3>
</div>
<div class="modal-body clearfix">
	<div class="col-md-12">
		<p>Sigin using Social media</p>

		<button class="btn btn-block btn-social btn-facebook" ng-click="signin.facebookSignin()">
			<span class="social-icon">
				<i class="fa fa-facebook"></i>
			</span>
			Signin using Facebook
		</button>

		<button class="btn btn-block btn-social btn-gplus" ng-click="signin.googleSignin()">
			<span class="social-icon">
				<i class="fa fa-google-plus"></i>
			</span>
			Signin using Google
		</button>
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12">
		<span class="divider">
			<span>
			OR
			</span>
		</span>
	</div>


	<form class="col-md-12" name="loginForm">
		<div class="form-group">
			<label>Email</label>
			<input type="email" name="email" class="form-control" ng-model="signin.user.username" ng-pattern="/^.+@.+\..+$/" required/>
      <div ng-if='loginForm.email.$dirty || loginForm.email.$touched' ng-messages='loginForm.email.$error' class="text-danger">
        <div ng-message='required'> Please fill out this field</div>
        <div ng-message='pattern'> Please enter valid Email Address</div>
      </div>
		</div>

		<div class="form-group">
			<label>Password</label>
			<input type="password" name="password" class="form-control" ng-model="signin.user.password" required/>
      <div ng-if='loginForm.password.$dirty || loginForm.password.$touched' ng-messages='loginForm.password.$error' class="text-danger">
        <div ng-message='required'> Please fill out this field</div>
      </div>
		</div>

		<button class="btn btn-success btn-block" ng-click="signin.userLogin(signin.user)" ng-disabled="!loginForm.$valid || signin.loading">
			Sign In
		</button>
	</form>
</div>
