.btn-facebook{
	background: $facebook !important;
	color: #fff !important;
}

.btn-linkedIn{
	background: $linkedIn !important;
	color: #fff !important;
}

.btn-gplus{
	background: $gplus !important;
	color: #fff !important;
}