.cat-Art {
background-color: #7d2a35 !important;
}
.cat-Culture {
background-color: #b4ba6c !important;
}
.cat-Cycles {
background-color: #c73226 !important;
}
.cat-Galleries {
background-color: #917a56 !important;
}
.cat-Health {
background-color: #677e52 !important;
}
.cat-Inspirations {
background-color: #083643 !important;
}
.tags{
	color: #ffffff !important;
}
.cat-Lookbook {
background-color: #703030 !important;
}
.cat-Music {
background-color: #003354 !important;
}
.cat-On-Trend {
background-color: #962d3e !important;
}
.cat-Places {
background-color: #105b63 !important;
}
.cat-Review {
background-color: #bd4932 !important;
}
.cat-Steals {
background-color: #687061 !important;
}
.cat-Style {
background-color: #1b5244 !important;
}
.cat-Tech {
background-color: #413659 !important;
}
.cat-Uncategorized {
background-color: #000 !important;
} 
.cat-Video {
background-color: #374140 !important;
}
.cat-Investment {
	background-color: #c73226 !important;
	color: #fff !important;
}
.cat-Exit {
	background-color: #083643 !important;
	color: #fff !important;
}
.cat-General {
	background-color: #413659 !important;
	color: #fff !important;
}