<form id="dashboard" name="postArticleForm">
	<h1 class="container mb-40 mt-40">Post Article</h1>
	<div class="container post-article-section mb-40">
		<div class="row">
			<div class="col-md-6">
				<h4>Article Picture</h4>
				<input
          type="file"
          ngf-select=""
          ng-model="dashboard.article.image"
          name="file"
          ngf-accept="'image/*'"
          required
        />
        <div ng-if='postArticleForm.file.$dirty || postArticleForm.file.$touched' ng-messages='postArticleForm.file.$error' class="text-danger">
          <div ng-message='required'> Please fill out this field</div>
        </div>
			</div>
			<div class="col-md-6">
				Preview:
				<img ngf-thumbnail="dashboard.article.image" ng-if="dashboard.article.image" class="thumbnail">
			</div>
		</div>

    <div class="row mt-40">
      <div class="col-md-12">
        <h4>Upload Table Data</h4>
        <input
          type="file"
          ngf-select=""
          ng-model="dashboard.article.excel"
          name="tableFile"
          ngf-accept="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
        />
      </div>
    </div>

		<div class="row mt-40">
			<div class="col-md-12">
				<h4>Select Category</h4>
				<select class="form-control" name="category" ng-model="dashboard.article.category" required>
					<option value="">Select Category</option>
					<option value="General">General</option>
					<option value="Exit">Exit</option>
					<option value="Investment">Investment</option>
				</select>
        <div ng-if='postArticleForm.category.$dirty || postArticleForm.category.$touched' ng-messages='postArticleForm.category.$error' class="text-danger">
          <div ng-message='required'> Please fill out this field</div>
        </div>
				<!-- <div class="col-md-2 tags" ng-repeat="tag in dashboard.tags">
					<label>
						<input type="checkbox" name="{{tag.value}}" ng-model="tag.checked" ng-change="dashboard.selectedTags()">
						<span class="{{tag.value}} ph-10 pv-3 brad-2">{{tag.name}}</span>
					</label>
				</div> -->
			</div>
		</div>

    <div class="row mt-40">
      <div class="col-md-12">
        <h4>Add Tags</h4>
        <tags-input
          ng-model="dashboard.tags"
          class="bootstrap"
          on-tag-added="dashboard.addTag($tag)"
        ></tags-input>
      </div>
    </div>

		<div class="row mt-40">
			<div class="col-md-12 form-group">
				<h4>Article Title</h4>
				<input type="text" name="articleTitle" class="form-control" ng-model="dashboard.article.title" required/>
        <div ng-if='postArticleForm.articleTitle.$dirty || postArticleForm.articleTitle.$touched' ng-messages='postArticleForm.articleTitle.$error' class="text-danger">
          <div ng-message='required'> Please fill out this field</div>
        </div>
			</div>
		</div>

		<div class="row mt-40">
			<div class="col-md-12 form-group">
				<h4>Article Content</h4>
				<textarea name="content" class="form-control" ng-model="dashboard.article.content"> </textarea>
        <div ng-if='postArticleForm.content.$dirty || postArticleForm.content.$touched' ng-messages='postArticleForm.content.$error' class="text-danger">
          <div ng-message='required'> Please fill out this field</div>
        </div>
      </div>
		</div>

		<div class="row mt-40">
			<div class="col-md-12 form-group">
				<h4>Article Link</h4>
				<input type="text" name="link" class="form-control" ng-model="dashboard.article.link">
			</div>
		</div>

		<div class="row text-center">
			<button class="btn btn-info" ng-click="dashboard.addArticle(dashboard.article)" ng-disabled="!postArticleForm.$valid">
        Post Article
      </button>
		</div>
	</div>
</form>
