#dashboard{
	.post-article-section{
		-webkit-box-shadow: 0 0 0 2px #e0e0e0;
		box-shadow: 0 0 0 2px #e0e0e0; 
		background-color: #fff;
		/*margin: 40px 0px;*/
		padding: 40px;
	}

	.thumbnail{
		height: 150px;
		width: 200px;
	}
}