<div id="category">
	<h1 class="container mb-40 mt-40">Add/ Update Category</h1>

	<div class="container category-section mb-40">
		<h3>Add New Category</h3>

		<div class="form-inline">
			<label>Name of Category</label>
			<input type="text" name="category" class="form-control" ng-model="category.newCategory.name"/>
			<button class="btn btn-info" ng-click="category.addCategory(category.newCategory)">
				Add
			</button>
		</div>


		<div class="col-md-12" ng-if="category.categoriesList">
			<h4>Available Categories</h4>
			<table class="table table-stripped">
				<tr>
					<th>Sr. No</th>
					<th>Name</th>
				</tr>

				<tr ng-repeat="cat in category.categoriesList">
					<td>
						{{$index +1}}
					</td>
					<td>
						{{cat.name}}
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>